html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: .875rem;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-size: .875rem;
  font-weight: 700;
}

h3 {
  font-size: .875rem;
  font-weight: 400;
  font-style: italic;
}

img {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.anderon {
  background-color: #e2e2e2;
  float: left;
  width: 25%;
  border-left: 1px solid #333;
}

.dino {
  background-color: #ccc;
  float: left;
  width: 25%;
  border-left: 1px solid #333;
}

.dragon {
  background-color: #aaa;
  float: left;
  width: 25%;
  border-left: 1px solid #333;
}

.laser {
  background-color: #999;
  float: left;
  width: 25%;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

a {
  text-decoration: none;
  color: white;
  border: 3px solid #333;
  border-radius: 3px;
  background-color: #333;
  padding: .5rem;
  text-align: center;
}
